<div>
    <div>
        <div>A</div>
        <mat-divider></mat-divider>
        <div>
            <div>MB</div>
            <div>
                <div>Manuel Bärlocher</div>
                <div> manuell@bluewin.ch </div>
            </div>
        </div>
        <div>B</div>
        <mat-divider></mat-divider>
        <div>
            <div>MB</div>
            <div>
                <div>Manuel Bärlocher</div>
                <div> manuell@bluewin.ch </div>
            </div>
        </div>

    </div>
</div>