.mainContainer {
    font-family: "inter", sans-serif !important;
    display: flex;
    position: absolute;
    left: 232px;
    top: 89px;
}

.contactList {
    background-color: white;
    height: calc(100vh - 89px);
    width: 453px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    h3 {
        margin: 10px 0 24px 85px;
        font-size: 21px;
        font-weight: 400;
    }
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.divider {
    width: 323px;
    margin-left: 65px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

.contact {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 48px;
    width: 357px;
    height: 79px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    }
}

.selectContact {
    background: #2a3647;
    color: white;
    &:hover {
        background: #2a3647;
        color: white;
    }
}

.contactIcon {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    margin-right: 42px;
    margin-left: 25px;
}

.contactName {
    font-size: 21px;
    padding-bottom: 5px;
}

.contactMail {
    font-size: 16px;
    color: #007cee;
}

.rightContainer {
    margin-left: 58px;
    margin-top: 82px;
}

.firstSection {
    display: flex;
    align-items: center;
    h1 {
        font-size: 61px;
        font-weight: 700;
    }
    img {
        margin-left: 30px;
        margin-right: 30px;
    }
    span {
        font-weight: 400;
        font-size: 27px;
        color: #2a3647;
    }
}

.contactTitle {
    display: flex;
    margin-top: 82px;
    .contactIconRight {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 3px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 47px;
        color: white;
        margin-right: 42px;
        margin-left: 25px;
    }
    h2 {
        margin: 0;
        font-weight: 500;
        font-size: 47px;
        margin-bottom: 13px;
    }
    .rightContactTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .addTask {
        color: #29abe2;
        display: flex;
        align-items: center;
        font-size: 16px;
        height: 24px;
        cursor: pointer;
        span {
            margin-left: 13px;
        }
    }
}

.contactInformationContainer {
    display: flex;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 21px;
    height: 74px;
    h3 {
        margin: 0;
        font-size: 21px;
        line-height: 120%;
        margin-right: 62px;
        font-weight: 400;
    }
    div {
        cursor: pointer;
        span {
            font-size: 16px;
            line-height: 120%;
            margin-left: 6px;
            color: #2a3647;
        }
    }
}

.contactAdress {
    h4 {
        font: 700 16px "Inter", sans-serif;
        font-style: normal;
        line-height: 120%;
        margin-bottom: 15px;
        margin-top: 22px;
    }
    .mail {
        color: #007cee;
    }
    span {
        font: 400 16px "Inter", sans-serif;
        font-style: normal;
        line-height: 120%;
        padding-bottom: 22px;
    }
}

button {
    position: fixed;
    bottom: 64px;
    right: 52px;
    display: flex;
    align-items: center;
    width: 193px;
    height: 53px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
    padding: 18px 10px;
    background: #2a3647;
    color: white;
    border: 1px solid #2a3647;
    img {
        margin-left: 10px;
        height: 30px;
    }
    &:hover {
        background: #29abe2;
        border: 1px solid #29abe2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}