.loginComponent {
    height: 100vh;
    width: 100%;
    background: #f6f7f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    .rightHeader {
        display: flex;
        align-items: center;
        padding-top: 67px;
        padding-right: 114px;
        font-family: "inter", sans-serif;
        p {
            font-size: 21px;
            font-weight: 400;
        }
        button {
            background: #2a3647;
            border: none;
            border-radius: 8px;
            width: 91px;
            height: 51px;
            margin-left: 35px;
            color: white;
            font-family: "inter", sans-serif;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                background: #29ABE2;
            }
        }
    }
}

.logo {
    position: fixed;
    height: 122px;
    width: 100px;
    top: 80px;
    left: 77px;
    animation: startAnimationImg 1s ease-in;
}

.startAnimaton {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #f6f7f8;
    animation: startAnimation 1s ease-in;
    z-index: -1;
}

@keyframes startAnimation {
    0% {
        opacity: 1;
        z-index: 998;
    }
    100% {
        opacity: 0;
    }
}

@keyframes startAnimationImg {
    0% {
        height: 334px;
        width: 274px;
        top: calc(50vh - 167px);
        left: calc(50% - 137px);
        z-index: 999;
    }
    60% {
        height: 334px;
        width: 274px;
        top: calc(50vh - 167px);
        left: calc(50% - 137px);
        z-index: 999;
    }
    100% {
        height: 122px;
        width: 100px;
        top: 80px;
        left: 77px;
        z-index: 999;
    }
}

.loginSection {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    h1 {
        font-family: "inter", sans-serif;
        font-size: 61px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .blueLine {
        border: 3px solid #29abe2;
        width: 150px;
        margin-top: 24px;
        margin-bottom: 35px;
        border-radius: 3px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .input-icons i {
            position: absolute;
            display: flex;
        }
        .input-icons {
            width: 100%;
            margin-bottom: 10px;
        }
        .icon {
            padding: 10px;
            color: green;
            min-width: 50px;
            text-align: center;
        }
    }
    .inputField {
        width: 422px;
        height: 51px;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        padding: 13px 21px;
        font-family: "inter", sans-serif;
        font-size: 21px;
        font-weight: 400;
        background-size: 21px;
        background-position: 401px;
        background-repeat: no-repeat;
        margin-left: 115px;
        margin-right: 115px;
    }
    .inputMail {
        background-image: url("../../assets/img/mail.png");
        margin-bottom: 49px;
    }
    .inputPassword {
        background-image: url("../../assets/img/password.png");
        margin-bottom: 55px;
    }
    .rememberMe {
        display: flex;
        align-items: center;
        font-family: "inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 0;
        width: 335px;
        height: 19px;
        margin-bottom: 35px;
        img {
            width: 16px;
            height: 16px;
        }
        span {
            margin-left: 20px;
            margin-right: 35px;
        }
        a {
            color: #29abe2;
        }
    }
    .buttons {
        margin-bottom: 35px;
        button {
            margin-bottom: 0;
            height: 51px;
            border-radius: 8px;
        }
        .loginButton {
            border: none;
            font-family: "inter", sans-serif;
            font-size: 21px;
            font-weight: 700;
            color: #ffff;
            background-color: #2a3647;
            padding: 13px 42px 13px 42px;
            cursor: pointer;
            &:hover {
                background: #29ABE2;
            }
        }
        .guestButton {
            background-color: transparent;
            border: 1px solid #2a3647;
            margin-left: 35px;
            font-family: "inter", sans-serif;
            font-size: 21px;
            font-weight: 700;
            color: #2a3647;
            padding: 13px 16px 13px 16px;
            cursor: pointer;
            &:hover {
                color: #29ABE2;
                border: 1px solid #29ABE2;
            }
        }
    }
}