.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2a3647;
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 100px;
        height: 121px;
        margin-top: 66px;
    }
    .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #cdcdcd;
        top: 290px;
        margin: 0;
        margin-top: -150px;
        padding: 0;
        .select {
            background: #091931;
        }
        li {
            height: 46px;
            padding: 8px 53px 8px 53px;
            display: flex;
            align-items: center;
            color: #cdcdcd;
            text-decoration: none;
            font-family: "inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            img {
                width: 24px;
                height: 24px;
                margin-right: 22px;
            }
        }
    }
    .legalNotice {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #cdcdcd;
        top: 290px;
        padding: 0;
        li {
            height: 46px;
            padding: 8px 40px 8px 40px;
            display: flex;
            align-items: center;
            color: #cdcdcd;
            text-decoration: none;
            font-family: "inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            img {
                margin-right: 18px;
            }
        }
    }
}