<div class="menu">
    <img class="logo" src="../assets/img/logowhite.png">

    <ul class="links">
        <li routerLinkActive="select" [routerLink]="['summary']"><img src="../assets/img/summary.png">Summary</li>
        <li routerLinkActive="select" [routerLink]="['board']"><img src="../assets/img/board.png">Board</li>
        <li routerLinkActive="select" [routerLink]="['addtask']"><img src="../assets/img/addTask.png">Add Task</li>
        <li routerLinkActive="select" [routerLink]="['contacts']"><img src="../assets/img/contacts.png">Contacts</li>
    </ul>

    <ul class="legalNotice">
        <li routerLinkActive="select" [routerLink]="['legalnotice']"><img src="../assets/img/legalNotice.png">Legal notice
        </li>
    </ul>
</div>