<div class="mainContainer">
    <div class="headSection">
        <h1>
            Help
        </h1>
        <img [routerLink]="['/summary']" src="../../assets/img/backArrow.png">
    </div>
    <div class="secondSection">
        <h2>
            What is Join?
        </h2>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem, sollicitudin eget eros non, varius aliquam mauris. Sed turpis ipsum, condimentum quis nulla at, lobortis facilisis ipsum. Nunc erat justo, hendrerit vel enim vitae, feugiat mattis dui. In auctor dignissim luctus. Mauris ornare ipsum at ultrices eleifend. Praesent tempus congue magna. Quisque libero erat, pharetra a neque et, imperdiet semper justo.

        </span>
    </div>
    <div class="lastSection">
        <h2 class="title">
            How To use it
        </h2>
        <div>
            <h2 class="number">1.</h2>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio felis, iaculis ut massa eget, ornare lacinia urna. In dignissim justo eu velit sagittis, in scelerisque nulla convallis. Vestibulum eros lorem, sollicitudin eget eros non, varius aliquam mauris.
            </span>
        </div>
        <div>
            <h2 class="number">2.</h2>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad omnis, illo nobis porro ex autem quisquam, doloremque, voluptas quia quaerat dolorum perspiciatis consequuntur optio itaque cum asperiores assumenda consequatur harum.</span>
        </div>
        <div>
            <h2 class="number">3.</h2>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad omnis, illo nobis porro ex autem quisquam, doloremque, voluptas quia quaerat dolorum perspiciatis consequuntur optio itaque cum asperiores assumenda consequatur harum.</span>
        </div>
    </div>
</div>