.component {

    margin: 89px 0 0 232px;
    height: calc(100vh - 89px);
    width: calc(100% - 232px);
    background: #f6f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

