<div class="loginComponent">
    <header>
        <img src="../../assets/img/logo.png">

    </header>
    <div class="loginSection">

        <img src="../../assets/img/back.png">
        <h1>Sign up</h1>

        <div class="blueLine"></div>
        <form>

            <input class="inputField inputName" type="text" placeholder="Name">
            <input class="inputField inputMail" type="email" placeholder="Email">
            <input class="inputField inputPassword" type="password" placeholder="Password">
            <div class="buttons">
                <button class="loginButton">Sign up</button>

            </div>
        </form>
    </div>
</div>