<div class="mainContainer">
    <div class="title">
        <h1>Board</h1>
        <div class="titleRightSection">
            <div class="searchInput">
                <input placeholder="Find Task">
                <img src="../../assets/img/search.png">
            </div>
            <button><span>Add Task</span><img src="../../assets/img/addTaskWhite.png"></button>
        </div>
    </div>
    <div class="secondContainer">
        <div class="firstSectionBoard">
            <div class="secondTitle">
                <h2>To do</h2>
                <button class="testButton"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1.5V16.5"  stroke-width="2" stroke-linecap="round"/>
                    <path d="M16.5 9.14148L1.5 9.14148"  stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
            <div *ngFor="let todo of todos">
                <div *ngIf="this.todo.category == 'toDo'" class="taskContainer" draggable="true">
                    <div class="tagContainer">{{this.todo.tag}}</div>
                    <div class="textTask">
                        <h3>{{this.todo.title}}</h3>
                        <span>{{this.todo.text}}.</span>
                    </div>
                    <div *ngIf="this.todo.stateNow > 0" class="statusContainer">
                        <div class="progressBar">
                            <div class="progressStateNow" style="width: calc(100%/{{this.todo.stateTotal}}*{{this.todo.stateNow}});"></div>
                        </div>
                        <span>{{this.todo.stateNow}}/{{this.todo.stateTotal}} Done</span>
                    </div>
                    <div class="contactSection">
                        <div class="contacts">
                            <div *ngFor="let contactName of this.todo.contacts.names;  index as i">
                                <div *ngIf="this.todo.contacts.names.length <= 3 " class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};"> {{contactName}}</div>
                                <div *ngIf="i < 2 && this.todo.contacts.names.length > 3" class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};">{{contactName}}</div>
                            </div>
                            <div *ngIf="this.todo.contacts.names.length >= 4" class="moreContactsIcon">+{{this.todo.contacts.names.length-2}}</div>
                        </div>

                        <img src=" ../../assets/img/{{this.todo.priority}}.png ">
                    </div>
                </div>
                <div class="marginContainer"></div>
            </div>
        </div>
        <div class="middleSectionBoard">
            <div class="secondTitle">
                <h2>In progress</h2>
                <button class="testButton"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1.5V16.5"  stroke-width="2" stroke-linecap="round"/>
                    <path d="M16.5 9.14148L1.5 9.14148"  stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
            <div>
                <div *ngFor="let todo of todos">
                    <div *ngIf="this.todo.category == 'inProgress'" class="taskContainer" draggable="true">
                        <div class="tagContainer">{{this.todo.tag}}</div>
                        <div class="textTask">
                            <h3>{{this.todo.title}}</h3>
                            <span>{{this.todo.text}}.</span>
                        </div>
                        <div *ngIf="this.todo.stateNow > 0" class="statusContainer">
                            <div class="progressBar">
                                <div class="progressStateNow" style="width: calc(100%/{{this.todo.stateTotal}}*{{this.todo.stateNow}});"></div>
                            </div>
                            <span>{{this.todo.stateNow}}/{{this.todo.stateTotal}} Done</span>
                        </div>
                        <div class="contactSection">
                            <div class="contacts">
                                <div *ngFor="let contactName of this.todo.contacts.names;  index as i">
                                    <div *ngIf="this.todo.contacts.names.length <= 3 " class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};"> {{contactName}}</div>
                                    <div *ngIf="i < 2 && this.todo.contacts.names.length > 3" class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};">{{contactName}}</div>
                                </div>
                                <div *ngIf="this.todo.contacts.names.length >= 4" class="moreContactsIcon">+{{this.todo.contacts.names.length-2}}</div>
                            </div>

                            <img src=" ../../assets/img/{{this.todo.priority}}.png ">
                        </div>
                    </div>
                    <div class="marginContainer"></div>
                </div>
            </div>
        </div>
        <div class="middleSectionBoard">
            <div class="secondTitle">
                <h2>Awaiting Feedback</h2>
                <button class="testButton"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1.5V16.5"  stroke-width="2" stroke-linecap="round"/>
                    <path d="M16.5 9.14148L1.5 9.14148"  stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
            <div>
                <div *ngFor="let todo of todos">
                    <div *ngIf="this.todo.category == 'awaitingFeedback'" class="taskContainer" draggable="true">
                        <div class="tagContainer">{{this.todo.tag}}</div>
                        <div class="textTask">
                            <h3>{{this.todo.title}}</h3>
                            <span>{{this.todo.text}}.</span>
                        </div>
                        <div *ngIf="this.todo.stateNow > 0" class="statusContainer">
                            <div class="progressBar">
                                <div class="progressStateNow" style="width: calc(100%/{{this.todo.stateTotal}}*{{this.todo.stateNow}});"></div>
                            </div>
                            <span>{{this.todo.stateNow}}/{{this.todo.stateTotal}} Done</span>
                        </div>
                        <div class="contactSection">
                            <div class="contacts">
                                <div *ngFor="let contactName of this.todo.contacts.names;  index as i">
                                    <div *ngIf="this.todo.contacts.names.length <= 3 " class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};"> {{contactName}}</div>
                                    <div *ngIf="i < 2 && this.todo.contacts.names.length > 3" class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};">{{contactName}}</div>
                                </div>
                                <div *ngIf="this.todo.contacts.names.length >= 4" class="moreContactsIcon">+{{this.todo.contacts.names.length-2}}</div>
                            </div>

                            <img src=" ../../assets/img/{{this.todo.priority}}.png ">
                        </div>
                    </div>
                    <div class="marginContainer"></div>
                </div>
            </div>
        </div>
        <div class="lastSectionBoard">
            <div class="secondTitle">
                <h2>Done</h2>
                <button class="testButton"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1.5V16.5"  stroke-width="2" stroke-linecap="round"/>
                    <path d="M16.5 9.14148L1.5 9.14148"  stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
            <div>
                <div *ngFor="let todo of todos">
                    <div *ngIf="this.todo.category == 'awaitingFeedback'" class="taskContainer" draggable="true">
                        <div class="tagContainer">{{this.todo.tag}}</div>
                        <div class="textTask">
                            <h3>{{this.todo.title}}</h3>
                            <span>{{this.todo.text}}.</span>
                        </div>
                        <div *ngIf="this.todo.stateNow > 0" class="statusContainer">
                            <div class="progressBar">
                                <div class="progressStateNow" style="width: calc(100%/{{this.todo.stateTotal}}*{{this.todo.stateNow}});"></div>
                            </div>
                            <span>{{this.todo.stateNow}}/{{this.todo.stateTotal}} Done</span>
                        </div>
                        <div class="contactSection">
                            <div class="contacts">
                                <div *ngFor="let contactName of this.todo.contacts.names;  index as i">
                                    <div *ngIf="this.todo.contacts.names.length <= 3 " class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};"> {{contactName}}</div>
                                    <div *ngIf="i < 2 && this.todo.contacts.names.length > 3" class="contactIcon" style="background-color: {{this.todo.contacts.colors[i]}};">{{contactName}}</div>
                                </div>
                                <div *ngIf="this.todo.contacts.names.length >= 4" class="moreContactsIcon">+{{this.todo.contacts.names.length-2}}</div>
                            </div>

                            <img src=" ../../assets/img/{{this.todo.priority}}.png ">
                        </div>
                    </div>
                    <div class="marginContainer"></div>
                </div>
            </div>
        </div>

    </div>

</div>