<div class="mainContainer">
    <div class="title">
        <h1>Board</h1>
        <div class="titleRightSection">
            <div class="searchInput">
                <input placeholder="Find Task">
                <img src="../../assets/img/search.png">
            </div>
            <button>Add Task</button>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h2>To do</h2>
                <button>+</button>
            </div>
            <div>
                <div>
                    <div>TAG</div>
                    <div>
                        <h3>Website redesign</h3>
                        <span>Modifz the contents of the main website...</span>
                    </div>
                    <div>
                        <div>Statusbar</div>
                        <span>1/2 Done</span>
                    </div>
                    <div>
                        <div>
                            <div class="contactIcon">MB</div>
                        </div>
                        <img src="../../assets/img/low.png">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>