.mainContainer {
    font-family: "inter", sans-serif !important;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    box-sizing: border-box;
    margin-right: 65px;
    margin-top: 93px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .titleRightSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            bottom: 64px;
            right: 52px;
            display: flex;
            align-items: center;
            width: 137px;
            height: 51px;
            border-radius: 10px;
            margin-left: 35px;
            cursor: pointer;
            padding: 18px 10px;
            background: #2a3647;
            color: white;
            border: 1px solid #2a3647;
            span {
                width: 92px;
                height: 25px;
                font-family: "inter", sans-serif !important;
                font-weight: 700;
                font-size: 21px;
                line-height: 120%;
                white-space: nowrap
            }
            img {
                padding-left: 10px;
                height: 15px;
            }
            &:hover {
                background: #29abe2;
                border: 1px solid #29abe2;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }
    .searchInput {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        width: 251px;
        height: 51px;
        background: #ffffff;
        input {
            margin-left: 21px;
            border: none;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            height: 20px;
            font-weight: 400;
            font-size: 16px;
            width: 181px;
            &:focus {
                outline: none;
            }
        }
        img {
            margin-right: 11px;
            margin-left: 15px;
        }
    }
    .contactIcon {
        background-color: orange;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        border: 1px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: white;
    }
}

.secondContainer {
    margin-top: 112px;
}